/* external css: flickity.css */

/*
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 */

/* Start of competition loop */

h1.page-title.left {
    float: left;
}
div.order-by {
    float: right;
}

div.site-owner-cta a {
    font-size: 0.9em;
}
div.site-owner-cta a:first-child {
    float: left;
}

div.site-owner-cta a:not(:first-child) {
    float: right;
}

ul.rw-marketplace-competitions li .rw-marketplace-img {
    width:100%;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    /* Relative so we can absolutely position the icon/badges inside */
    position: relative;
}

ul.rw-marketplace-competitions li .rw-marketplace-img .rw-site-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
}

ul.rw-marketplace-competitions li h5 {
    /* Styling the marketplace height */
    height: 2.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

ul.rw-marketplace-competitions li {
    list-style: none;
    float: left;
    width: 25%;
    margin: 0;
    padding-right: 3em;
    margin-top: 2em;
    min-width:210px;
}

ul.rw-marketplace-site-icons li {
    list-style: none;
    float: left;
    margin: 10px 0 0 10px !important;
}

.widget ul.rw-marketplace-site-icons li:first-child {
    margin-top: 10px;
}

@media (max-width: 1050px) {
    ul.rw-marketplace-competitions li {
        width: 48%;
    }
    ul.rw-marketplace-competitions li .rw-marketplace-img {
        height: 220px;
    }
}
@media (max-width: 600px) {
    ul.rw-marketplace-competitions li {
        width: 100%;
    }
    ul.rw-marketplace-competitions li .rw-marketplace-img {
        height: 200px;
    }
}
/*
ul.rw-marketplace-competitions li:not(:first-child) {
    padding-left: 2em;
}
 */

/* End of competition loop */

#rw-carousel-widget {
    padding-bottom: 3em;
}

.rw-carousel {
    background: #EEE;
    oveflow:hidden;
}

.rw-carousel .gallery-cell {
    width: 300px;
    height: 200px;
    margin-right: 30px;
    background-color: #33363C;
    counter-increment: gallery-cell;
    background-size: cover;
}

.rw-carousel .gallery-cell:first-child {
    background-size: 300px 200px;
    background-position: right top !important;
    background-repeat:no-repeat;
}
.rw-carousel .gallery-cell:before {
    width:100%;
    height:100%;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 1.0) 100%
    );
}

/* cell number */
.rw-carousel .gallery-cell:before {
    display: block;
    text-align: center;
    content: ' ';
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.rw-carousel .gallery-cell h1 {
    position: relative;
    z-index: 999;
    bottom: 61px;
    left: 16px;
    color: white;
    font-size: 1.2em;
}

/* Start of [rw-marketplace-calendar] */

.rw-calendar *,
.rw-calendar *:before,
.rw-calendar *:after {
    box-sizing: border-box;
}
.rw-calendar .group:after {
    content: "";
    display: table;
    clear: both;
}
.rw-calendar img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}
.rw-calendar a {
    text-decoration: none;
}
.rw-calendar .calendar-wrapper {
    width: 360px;
    margin: 3em auto;
    padding: 2em;
    border: none;
    border-radius: 5px;
    background: #fff;
}
.rw-calendar table {
    clear: both;
    width: 100%;
    border: none;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}

.rw-calendar tr.days td {
    font-weight: bold;
}
.rw-calendar td {
    text-align: center;
    vertical-align: middle;
    border-right: none;
    border-top: none;
    padding: 5px;
    position: relative;
}
.rw-calendar td:not(.not-current) {
    cursor: pointer;
}
.rw-calendar td:not(.not-current):hover {
    font-weight: bold;
}
.rw-calendar td.not-current {
    color: #c0c0c0;
}
.rw-calendar td.today {
    font-weight: 700;
    color: #28283b;
    /* Set today to gold */
    background-color: #cfae1e;
}
.rw-calendar td span.draw-count {
    background-color: #33363c;
    font-size: 9px;
    border-radius: 100%;
    padding: 2px 3px 1px 3px;
    line-height: 1;
    text-align: center;
    z-index: 999;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 1px;
    right: -3px;
}
.rw-calendar thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-weight: bold;
}
.rw-calendar #btnPrev {
    float: left;
    margin-bottom: 20px;
}
.rw-calendar #btnPrev:before {
    content: '\f104';
    font-family: FontAwesome;
    padding-right: 4px;
}
.rw-calendar #btnNext {
    float: right;
    margin-bottom: 20px;
}
.rw-calendar #btnNext:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 4px;
}
.rw-calendar #btnPrev,
.rw-calendar #btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.rw-calendar #btnPrev:hover,
.rw-calendar #btnNext:hover {
    color: #28283b;
    font-weight: bold;
}

/* End of [rw-marketplace-calendar] */

/*! Flickity v1.0.0 (For carousel)
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:#fff}.flickity-prev-next-button:focus{outline:0;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{filter:alpha(opacity=30);opacity:.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-prev-next-button.no-svg{color:#333;font-size:26px}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;filter:alpha(opacity=25);opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}
/* END OF Flickity v1.0.0 */